.amount {
  &__input {
    color: white;
    width: 100%;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    border: 0;

    text-align: right;
    font-size: 1.5em;
    background: transparent;

    &:focus {
      outline: 0;
    }
  }

  &__currency {
    font-size: 2em;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__field {
    display: flex;
    align-items: center;
  }

  &__footer {
    font-size: 0.7em;
  }

  &__balance {
    display: inline;
    float: left;

    &--warning {
      color: #ff6565;
    }
  }

  &__rate {
    display: inline;
    float: right;
  }
}
