@import '~normalize.css';

@import '~slick-carousel/slick/slick';
@import '~slick-carousel/slick/slick-theme.scss';

@import './globals/typography';
@import './globals/colors';
@import './exchange';
@import './amount';
@import './convert';
@import './carousel';

.app {
  background: $backgroundColor;
  margin: 0 auto;
}
