.convert {
  width: 100%;
  padding-top: 40px;
  text-align: center;

  &__button {
    border-radius: 2px;
    border: 1px solid white;
    opacity: 0.5;
    width: 250px;
    text-align: center;
    background: transparent;
    color: white;
    margin: 0 auto;
    display: inline;
    cursor: pointer;

    &--active {
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }
    }
  }
}
