.exchange {
  &__from {
    &:after {
      content: '';
      position: absolute;
      left: 50%;
      margin-left: -15px;
      border: 15px solid transparent;
      border-top: 15px solid $backgroundColor;
    }
  }

  &__to {
    background: $darkBackgroundColor;
  }

  &__wrapper-from, &__wrapper-to {
    margin: 0 auto;
    width: 250px;
    height: 80px;
    padding: 40px 0;
  }

  &__loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background: white;
    opacity: 0.2;

    text-align: center;
    padding-top: 100px;

    &--disabled {
      display: none;
    }
  }
}

